<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Segoe UI, Geneva, Tahoma, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        #title {
            color: #fff;
            background-color: #b06428;
            text-align: center;
            padding: 10px;
        }

        #bodytext {
            text-align: center;
            font-size: 1.3em;
            
        }
    </style>
</head>

<body>
    <main>
        <h1 id="title">@ViewBag.MailTitle</h1>
        <p id="bodytext">@ViewBag.MailBody</p>
    </main>
</body>

</html>