.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
}

.content {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    z-index: 5;
}

.PageContent {
    width: 100%;
    height: 90%;
    display: flex;
    padding-top:70px;
    justify-content: flex-start;
    flex-flow: column nowrap;
    overflow: hidden;
    overflow-y: scroll;
}
